force-app/main/default/flows/Lead_No_Identifiacion_Ya_existe_en_Base_de_Datos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>No_ID_Ya_Existe</name>
        <label>No ID Ya Existe</label>
        <locationX>785</locationX>
        <locationY>791</locationY>
        <customErrorMessages>
            <errorMessage>Ya existe una Cuenta con No de Identificación {!$Record.No_Identificaci_n__c}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_Records_found</name>
        <label>If Records found</label>
        <locationX>778</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts_By_No_de_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_ID_Ya_Existe</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - No Identifiacion Ya existe en Base de Datos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - No Identifiacion Ya existe en Base de Datos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_By_No_de_ID</name>
        <label>Get Accounts By No de ID</label>
        <locationX>779</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_Identificaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.No_Identificaci_n__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Accounts_By_No_de_ID</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
